.competency__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 15px;
}

.competency__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__competency {
    font-size: 45px;
    font-weight: 700;
    max-width: 250px;
    color: black;
}

.about__me {
    max-width: 400px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #868686;
}

.about__img img {
    max-width: 380px;
    max-height: 380px;
    object-fit: cover;
}

.abilities__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}

.abilities__blocks-item {
    max-width: 300px;
    background-color: #DADADA;
    border-radius: 10px;
    padding: 15px 15px;
}

.abilities__blocks-title {
    font-size: 20px;
    font-weight: 600;
    color: #FF9900;
    margin: 10px 0;
}

.abilities__blocks-icon img {
    width: 45px;
    height: 45px;
}

.abilities__blocks-text {
    font-size: 18px;
    line-height: 1.5;
}